<article class="post-full post"> 
    <header class="post-full-header">
        <section class="post-full-meta">
            <div class="first-line">
            {{ $date := .Date.UTC.Format "Jan 2, 2006" }}
            {{ $lastmod := .Lastmod.UTC.Format "Jan 2, 2006" }}
            <time class="post-full-meta-date" datetime="{{.Date.Format "2006-01-02"}}">{{ .Date | time.Format ":date_long" | safeHTML }}</time>

            {{if .Params.tags }}
                <span class="date-divider">/</span> {{ range $index, $tag := .Params.tags }}{{if lt $index 2}}<a href="{{$.Site.BaseURL}}tags/{{ $tag | urlize }}/">#{{$tag}}</a>&nbsp;{{end}}{{end}}{{ end }}

            </div>
            {{ if and (ne $lastmod $date) (gt .Lastmod .Date) }}
            <div class="second-line">(last updated:&nbsp;<time class="post-full-meta-date" datetime="{{.Lastmod.Format "2006-01-02"}}">{{ .Lastmod | time.Format ":date_long" | safeHTML }}</time>)</div>
            {{end}}
        </section>
        <h1 class="post-full-title">{{.Title}}</h1>
    </header>
    {{if .Params.image}}
    <div class="post-full-image" style="background-image: url({{.Params.image | absURL}})">
    </div>{{else if or .Site.Params.randomFallbackImagesPage .Params.randomFallbackImage}}
    <div class="post-full-image" style="background-image: url({{$.Site.BaseURL}}defimg/{{ index (seq 7 | shuffle) 0 }}.jpg)">
    </div>{{end}}

    <section class="post-full-content">
        <div class="kg-card-markdown">
            {{ partial "i18nlist-header.html" .}}
        {{ .Content }}    
        </div>
        {{ partial "i18nlist-bottom.html" .}}
    </section>
    <footer class="post-full-footer">
      <section class="author-card">
        <img class="author-profile-image" src="{{ (.Params.authorAvatar | default .Site.Params.authorAvatar) | absURL}}" alt="Author" />
        <section class="author-card-content">
            <h4 class="author-card-name"><a href="{{ (.Params.authorURLInternal | default .Site.Params.authorURLInternal) | absURL}}">{{.Params.author | default .Site.Params.author}}</a></h4>
                <p>{{.Params.authorDescription | default .Site.Params.authorDescription}}</p>
        </section>
      </section>
    </footer>
</article>
